

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="panel panel-primary">
  <div class="panel-heading" >
    <h2>List Equipe</h2>
  </div>
  <div class="panel-body">
    <div class="col-sm-4 createSegment">
      <a  class="btn dim_button create_new"  [routerLink]="['/produits']"> <span class="glyphicon glyphicon-plus"></span> Ajouter Equipe</a>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>

        <th>ID</th>
        <th>Nom</th>
        <th></th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let produit of produits  ">

        <td>{{ produit.id}}</td>
        <td>{{ produit.nom }}</td>
        <td>   <a title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        </td>


      </tr>

      </tbody>
    </table>
  </div>
</div>
